GOOGLE_API_KEY=
GOOGLE_LLM_MODEL='gemini-2.5-flash-lite'
OPENAI_API_KEY=
OPENAI_EMBEDDING_MODEL='text-embedding-3-small'
DATABASE_URL=
PGVECTOR_URL='postgresql+psycopg://postgres:postgres@localhost:5432/rag'
PG_VECTOR_COLLECTION_NAME='companies_collection'
PDF_PATH='document.pdf'